body{
	background: url(https://images.unsplash.com/photo-1577046072313-2f45492e6c28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
	background-size: cover;
	background-position:center;
	font-family:Lato;
}

html{
	height: 100%;
}

h1{
	font-weight: 700;
	font-size: 5em;
	color:white;
}

h3{
	color:white;
}

#content{
	text-align: center;
	padding-top:20%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.2),
	             0px 18px 23px rgba(0,0,0,0.1)
}

hr{
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
/*https://images.unsplash.com/photo-1544146739-a08d030ccf24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60*/
/*https://images.unsplash.com/photo-1528631826578-759e1d0c1fbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60*/